/* RESET CSS E ETCS*/
/* Resets do CSS que eu gosto, importações de fonte, gradiente do body e o root com umas cores repetidas*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: "sg_font";
    src: url(../assets/script1-script-casual-normal.ttf);
}

:root {
    --branco: rgb(255, 255, 255);
    --vermelho: rgb(255, 0, 0);
    --gradiante-amarelo: #ffd503;
    --gradiante-laranja: #f08b18;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(
        var(--gradiante-amarelo),
        var(--gradiante-laranja)
    );
}

/* HEADER */
/* Cabeçalho com a logo na esquerda, centro com o título e uma imagem do Saul na direita. Usei um display flex pra deixar tudo alinhado e "deitado", junto com um space-between pra deixar
um elemento em cada canto */
/* Como não tinha espaço para botar o menu hamburguer, eu tive que deixar ele somente para o mobile, coloquei um media para tirar tudo do cabeçalho e deixar somente o menu. Quando
tiver que deixar responsivo eu boto a logo de volta junto, mas realmente não tinha como botar o menu */

header {
    background-image: linear-gradient(
        var(--gradiante-laranja) 10%,
        var(--gradiante-amarelo) 90%
    );
    height: 260px;
    border-bottom: 20px solid var(--vermelho);
    border-top: 20px solid var(--vermelho);
    padding: 20px 0 20px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.none {
    display: none;
}

/* MAIN */
/* A parte com todo o conteúdo do site, começando com o comercial do Saul, depois uns textos que usei pra deixar um texto-imagem ou imagem-texto um do lado do outro
os SERVICES eu realmente não sabia o que colocar então deixei vazio. Continuando pra baixo tem um article com uma avaliação e termina com um marketing*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 700px;
}

iframe {
    width: 80%;
    height: 80%;
}

    /* TEXTO SOBRE SAUL */

.secao-sobre {
    height: 385px;
    border: 3px solid var(--branco);
    display: flex;
}

section, article {
    margin: 50px 0 50px 0;
    max-width: 1280px;
    width: 70%;
}

.img-sobre img {
    width: 400px;
    height: 100%;
}

.caixas-servicos {
    display: flex;
    justify-content: center;
}

.caixa {
    border: 1px solid var(--vermelho);
    background-color: var(--vermelho);
    padding: 5px;
}

.conteudo-sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-reverso {
    display: flex;
    flex-direction: row-reverse;
}

    /* AVALIAÇÃO DO CLIENTE */

.carousel {
    width: 60%;
    margin: 0px auto;
}
    
.carousel img {
    height: 60vh;
    width: 100%;
}

.cinco-estrelas {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -3rem;
}

.cinco-estrelas img {
    height: 200px;
    scale: 1.8;
}

    /* ULTIMA SEÇÃO COM A FRASE DE EFEITO */

figure img{
    width: 600px;
    margin-top: 20px;
}

section:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* FOOTER */
/* Rodapé bem simples, só um número, o projeto inteiro usei flex para alinhar as coisas, aqui não foi diferente */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    background-image: linear-gradient(
        var(--gradiante-amarelo),
        #f0c818
    );
}

.borda-vermelha {
    width: 100%;
    background-color: rgb(255, 39, 39);
    text-align: center;
}
/* MEDIA QUERIES */

@media(min-width: 510px) {
    nav {
        width: 100%;
    }

    .none {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .none img {
        width: 210px;
    }
    
    .logo {
        margin-left: 20px;
    }
    
    .titulo-nav {
        text-align: center;
    }
    
    .balanca {
        scale: 1.8;
        margin: 10px 0 20px 0;
    }

    .menu {
        display: none !important;
    }
}

@media(max-width: 1050px) { 

    header {
        height: 200px;
    }

    .none img {
        width: 160px;
    }

    .balanca {
        margin: 0 0 10px 0;
        scale: 1.4;
    }

    .secao-sobre img{
        width: 300px;
        object-fit: cover;
    }
}

@media(max-width: 915px) {

    .video {
        width: 60%;
    }

    iframe {
        width: 70%;
        height: 60%;
    }

    .conteudo-sobre {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-bottom: 20px;
    }

    .secao-sobre {
        height: 700px;
        width: 300px;
        flex-direction: column;
    }

    .img-sobre {
        order: -1;
    }

    .img-sobre img{
        width: 100%;
    }

    figure img {
        width: 400px;
    }
}

@media(max-width: 700px) {
    header {
        height: 164px;
    }

    .none img {
        width: 130px;
    }

    .balanca {
        margin: 0 0 5px 0;
        scale: 1.4;
    }
}

@media(max-width: 500px) {
    .video {
        width: 70%;
    }

    iframe {
        width: 100%;
        height: 60%;
    }

    .carousel {
        width: 100%;
    }


}

@media(max-width: 420px) {
    figure img {
        width: 250px;
    }

    .cinco-estrelas img {
        height: 100px;
        scale: 2;
    }
}