.titulo-nav h1 {
    font-size: 4rem;
    font-family: sg_font;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--branco);
    -webkit-text-fill-color: rgb(53, 48, 48);
}

.video h2, .texto-sobre p, .avaliacoes p, .avaliacoes h3, h4, h6 + p {
    -webkit-text-stroke-color: var(--vermelho);
    -webkit-text-fill-color: var(--branco);
    -webkit-text-stroke-width: 1.5px;
    font-weight: bold;
}

.titulo-nav p {
    font-size: 20px;
}

.video h2 {
    font-size: 4.3rem;
    text-align: center;
    padding-bottom: 20px;
}

.texto-sobre p {
    height: 240px;
    margin-left: 20px;
    font-size: 30px;
}

.caixa a {
    font-family: sg_font;
    text-decoration: none;
    color: var(--branco);
}

.carousel {
    font-size: 26px;
}

.avaliacoes-titulo {
    font-size: 40px;
    text-align: center;
}

.frase-de-efeito {
    font-size: 40px;
    text-align: center;
}

.borda-vermelha {
    font-size: 30px;
    color: var(--branco);
    font-weight: bold;
}

.bcs {
    font-size: 4rem;
    font-family: sg_font;
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #eeeeee, 0 0 40px #eeeeee;
}

.rodape-centro {
    text-align: center;
}

.bcs + p {
    font-size: 40px;
}

.rodape-centro p:last-child {
    font-size: 25px;
    font-weight: bold;
}

/* MEDIA QUERIES */

@media(max-width: 1310px) {
    .texto-sobre p {
        font-size: 1.5em;
    }
}

@media(max-width: 1110px) {
    .titulo-nav p {
        margin-bottom: 0;
    }


    .carousel-texto {
        font-size: 20px;
    }
}

@media(max-width: 1050px) {
    .titulo-nav h1{
        font-size: 2.5rem;
    }
}

@media(max-width: 915px) {
    .video h2 {
        font-size: 3.5rem;
    }

    .borda-vermelha {
        font-size: 1.6rem;
    }

    .bcs {
        font-size: 3rem;
    }

    .bcs + p {
        font-size: 30px;
    }

    .rodape-centro p:last-child {
        font-size: 18px;
        font-weight: bold;
    }
}

@media(max-width: 700px) {
    .titulo-nav h1{
        font-size: 2rem;
    }
}

@media(max-width: 500px) {
    .video h2 {
        font-size: 3rem;
    }
}

@media(max-width: 420px) {
    .video h2 {
        font-size: 2.2rem;
    }

    .frase-de-efeito {
        font-size: 2rem;
    }
}